.jumbotron{
    padding-top: 2rem;
    background-color: #e2edff;
}

body{
    min-height : 2000px;
}

.mycards {
    background-color: #e2edff;   
    padding-bottom: 20px; 
}

.card-img-top {
    height: 300px;
}

.mycontact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px auto;
   
}

.teks{
    width: 500px;
}


footer{
    background-color: blue;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
